<article class="articles ">
    <div class="artTitle">
        <h2>Take a look</h2>
    </div>
    <div class="descriptionText">
        <!-- Dreams(app) description -->
        <p> "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
            et dolore magna aliqua. Ut enim ad minim veniam"</p>
    </div>
    <!-- List of app -->
    <div>
        <div class="box">
            <img
                src="../assets/img/zilean-lol-legends-of-runeterra-hd-wallpaper-1920x1080-uhdpaper.com-90.0_a - copia.jpg">
        </div>
        <div class="descriptionText">
            <p> "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                et dolore magna aliqua. Ut enim ad minim veniam"</p>
        </div>
        <div class="box">
            <img
                src="../assets/img/zilean-lol-legends-of-runeterra-hd-wallpaper-1920x1080-uhdpaper.com-90.0_a - copia.jpg">
        </div>
        <div class="descriptionText">
            <p> "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                et dolore magna aliqua. Ut enim ad minim veniam"</p>
        </div>

    </div>
</article>