<article class="articles">
    <h2>Dream list</h2>
      <table class="table">
          
          <thead>
              <tr>
                  <th scope="col">#</th>
                  <th scope="col">Name</th>
                  <th scope="col">Description</th>
                  <th scope="col">...</th>
              </tr>
          </thead>
          <tbody>
              <tr>
                  <th scope="row">1</th>
                  <td>Red</td>
                  <td>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                      ut labore
                      et dolore magna aliqua. Ut enim ad minim veniam"</td>
                  <td>github</td>
              </tr>
              <tr>
                  <th scope="row">2</th>
                  <td>Yellow</td>
                  <td>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                      ut labore
                      et dolore magna aliqua. Ut enim ad minim veniam"</td>
                  <td>github</td>
              </tr>
              <tr>
                  <th scope="row">3</th>
                  <td>Blue</td>
                  <td>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                      ut labore
                      et dolore magna aliqua. Ut enim ad minim veniam"</td>
                  <td>github</td>
              </tr>
          </tbody>
      </table>
  </article>