<div class="articles">
    <div id="editar">
        <a href="" class="btn"><fa-icon [icon]="faPenToSquare"></fa-icon></a>
    </div>
    <div class="row">
        <!-- Titulo -->
        <h2>Educación</h2>
        <div class="col-lg-10">
            <!-- Lista  -->
            <ul>
                <li>
                    <h5>Estudio 1</h5> - <h6>(años)</h6>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem optio rerum id aut facilis sequi,
                        deserunt culpa sunt repellendus temporibus quasi architecto eum, voluptatum, error reiciendis
                        accusamus quibusdam! Totam, maiores!</p>
                </li>
                <li>
                    <h5>Estudio 2</h5> - <h6>(años)</h6>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem optio rerum id aut facilis sequi,
                        deserunt culpa sunt repellendus temporibus quasi architecto eum, voluptatum, error reiciendis
                        accusamus quibusdam! Totam, maiores!</p>
                </li>
                <li>
                    <h5>Estudio 3</h5> - <h6>(años)</h6>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem optio rerum id aut facilis sequi,
                        deserunt culpa sunt repellendus temporibus quasi architecto eum, voluptatum, error reiciendis
                        accusamus quibusdam! Totam, maiores!</p>
                </li>
            </ul>
        </div>
    </div>

</div>