<div class="articles">
    <h2>Hard & Soft skills</h2>
    <div class="row">
        <div class="text-center col-xs-3 col-md-4 col-lg-4">
            <circle-progress [percent]="90" [radius]="100" [title]="'HTML'" [titleFontWeight]="'500'"
                [titleFontSize]="'2em'" [showSubtitle]="false" [showUnits]="false" [outerStrokeWidth]="12"
                [innerStrokeWidth]="4" [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'" [animation]="true"
                [animationDuration]="600"></circle-progress>
        </div>
        <div class="text-center col-xs-3 col-md-4 col-lg-4">
            <circle-progress [percent]="65" [radius]="100" [title]="'JS'" [titleFontWeight]="'500'"
                [titleFontSize]="'2em'" [showSubtitle]="false" [showUnits]="false" [outerStrokeWidth]="12"
                [innerStrokeWidth]="4" [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'" [animation]="true"
                [animationDuration]="600"></circle-progress>
        </div>
        <div class="text-center col-xs-3 col-md-4 col-lg-4">
            <circle-progress [percent]="85" [radius]="100" [title]="'CSS'" [titleFontWeight]="'500'"
                [titleFontSize]="'2em'" [showSubtitle]="false" [showUnits]="false" [outerStrokeWidth]="12"
                [innerStrokeWidth]="4" [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'" [animation]="true"
                [animationDuration]="600"></circle-progress>
        </div>
        <div class="text-center col-xs-3 col-md-4 col-lg-4">
            <circle-progress [percent]="65" [radius]="100" [title]="'GitHub'" [titleFontWeight]="'500'"
                [titleFontSize]="'2em'" [showSubtitle]="false" [showUnits]="false" [outerStrokeWidth]="12"
                [innerStrokeWidth]="4" [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'" [animation]="true"
                [animationDuration]="600"></circle-progress>
        </div>
        <div class="text-center col-xs-3 col-md-4 col-lg-4">
            <circle-progress [percent]="55" [radius]="100" [title]="'MySQL'" [titleFontWeight]="'500'"
                [titleFontSize]="'2em'" [showSubtitle]="false" [showUnits]="false" [outerStrokeWidth]="12"
                [innerStrokeWidth]="4" [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'" [animation]="true"
                [animationDuration]="600"></circle-progress>
        </div>
        <div class="text-center col-xs-3 col-md-4 col-lg-4">
            <circle-progress [percent]="100" [radius]="100" [title]="'Ingles'" [titleFontWeight]="'500'"
                [titleFontSize]="'2em'" [showSubtitle]="false" [showUnits]="false" [outerStrokeWidth]="12"
                [innerStrokeWidth]="4" [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'" [animation]="true"
                [animationDuration]="600"></circle-progress>
        </div>
    </div>

</div>