<article class="articles ">
    <div>
        <h2>Pick a Dream</h2>
    </div>
    <div>
        <!-- Dream description -->
        <p> "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
            et dolore magna aliqua. Ut enim ad minim veniam"</p>
    </div>
    <!-- carousel -->
    <div>
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0"
                    class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active box">
                    <img src="../assets/img/141e60d5c88c9c2809dc2d0b0f82d3fb.jpg" class="d-block" alt="...">
                    <div class="carousel-caption d-md-block">
                        <h5>Sweet Dreams</h5>
                        <p>Some representative placeholder content for the first slide.</p>
                    </div>
                </div>
                <div class="carousel-item box">
                    <img src="../assets/img/lofi-girl-jinx-lol-uhdpaper.com-hd-3.3244.jpg" class="d-block" alt="...">
                    <div class="carousel-caption d-md-block">
                        <h5>Work in progress</h5>
                        <p>Some representative placeholder content for the second slide.</p>
                    </div>
                </div>
                <div class="carousel-item box">
                    <img src="../assets/img/thumb-1920-552086.jpg" class="d-block" alt="...">
                    <div class="carousel-caption d-md-block">
                        <h5>Nightmares</h5>
                        <p>Some representative placeholder content for the third slide.</p>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</article>
