<footer>

    <section>
        <!-- Form -->
        <article class="articles">
            <form action="" class="askForm">
                <div class="formRow">
                    <div class="formColumn">
                        <label for="">Your name</label>
                        <input type="text" placeholder="Alexample">
                    </div>
                    <div class="formColumn">
                        <label for="">Your e-mail</label>
                        <input type="email" placeholder="alexample@ejm.com">
                    </div>
                </div>
                <div class="formRow">
                    <div class="formColumn">
                        <label for="">Please ask me =)</label>
                        <input type="text">
                    </div>
                <div class="formColumn">
                    <button >Submit</button>
                </div>
                </div>
            </form>
        </article>
        <!-- Personal data -->
        <article class="articles">
            <div>My github</div>
            <div>copyrights</div>
        </article>
    </section>
</footer>